*{
    line-height: 150%;
    
    box-sizing: border-box;
    margin:0px;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    padding: 0px 0px 30px 0px;
}
.navbar{
    background-color: #fff;

    width: 100%;
    height: fit-content;
    padding: 10px;
    margin: 0px 0px 10px 0px;

    display: flex;
    flex-direction: row;
    
    align-items: center;
    text-align: center;
    justify-content: space-between;

    border-radius: 0px;

    box-shadow: 0px 5px 5px #696969;

    top: 0px;
    position: -webkit-sticky;
    position: sticky;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
}

.bounding-box{
    margin: auto;
    width: 90%;
    justify-content: center;
    text-align: center;
}

.contact-panel{
    background-color: #696969;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
    text-align: center;
}
.contact-text{
    justify-content: center;
}
.contact-input{
    display: flex;
    flex-direction: column;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.socials img{
    width: 30px;
    height: 30px;
}